{% extends "layout.html" %}
{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--url_for es una funcion de python que personalizara la pag con el archivo css-->
{% endblock %}
{% block content %}
    <h1>{{category}}</h1><!--el uso de una variable que se manda al formulario-->
    <div class="row row-cols-1 row-cols-md-3">
        {% for product in products %}
        <div class="col mb-4">
          <div class="card">
            <a href="{{ url_for('product_detail',product_name=product['nombre']) }}">
                <img src= "{{url_for('static', filename=product['imagen'])}}" class="card-img-top" >

            </a>
            <div class="card-body">
              <h5 class="card-title">{{product['nombre']}}</h5>
              <p class="card-text">{{product['imagen']}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}